* {
    padding: 0;
    margin: 0;
}
li {
    list-style: none;
}
body {
    background-color: #f3f5f7;
}
.w {
    width: 1200px;
    margin: auto;
}
body .containers {
    background-image: url(../images/background-image-index.jpg);
    background-repeat: round;
    background-attachment: fixed;
}
body .containers .header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 60px;
    border-top: 5px solid #f0850c;
    background-color: #000000;
}
body .containers .header .logo {
    float: left;
    width: 60px;
    height: 60px;
    margin-left: 22.5%;
}
body .containers .header .logo img {
    width: 56px;
    height: 56px;
    border: 2px solid #3691db;
    border-radius: 50%;
}
body .containers .header .title {
    float: left;
    width: 180px;
    height: 60px;
}
body .containers .header .title h4 {
    float: left;
    margin-left: 20px;
    color: #ffffff;
    font: normal 700 20px/60px "microsoft yahei";
}
body .containers .header .nav {
    float: left;
    margin-left: 40px;
}
body .containers .header .nav ul li {
    float: left;
}
body .containers .header .nav ul li a {
    display: block;
    height: 60px;
    padding: 0 20px;
    color: #ffffff;
    font: normal 400 18px/60px "microsoft yahei";
    text-decoration: none;
}
body .containers .header .nav ul li a:hover {
    border-bottom: 2px solid #00a4ff;
    color: #00a4ff;
}
body .containers .header .search {
    float: left;
    width: 300px;
    height: 60px;
    margin-left: 50px;
    background-color: #00a4ff;
}
body .containers .header .search input {
    float: left;
    width: 243px;
    height: 56px;
    padding-left: 15px;
    border: 2px solid #00a4ff;
    border-right: 0;
    color: #bfbfbf;
    font-size: 14px;
}
body .containers .header .search button {
    float: left;
    width: 40px;
    height: 60px;
    border: 0;
    background-color: #00a4ff;
}
body .containers .header .search button:hover {
    background-color: #cc1313;
}
body .containers .box {
    position: relative;
    height: 1000px;
    margin-top: 65px;
    background-color: #99999960;
    border-radius: 40px;
}
body .containers .box .introduction {
    float: left;
    width: 400px;
    height: 512px;
    background-color: #ffffff60;
    border-radius: 40px;
}
body .containers .box .introduction h2 {
    width: 400px;
    margin-top: 10px;
    color: #000000;
    font: normal 700 20px/22px "microsoft yahei";
    text-align: center;
}
body .containers .box .introduction p {
    width: 400px;
    color: #000000;
    font: normal 400 16px/30px "microsoft yahei";
    text-indent: 2em;
}
body .containers .box .introduction p del {
    font: normal 700 16px/30px "microsoft yahei";
}
body .containers .box .content {
    float: left;
    width: 790px;
    margin-left: 10px;
    background-color: #ffffff60;
    border-radius: 40px;
}
body .containers .box .content .banner {
    position: relative;
    width: 790px;
    height: 512px;
    background-color: #1ffcd760;
    border-radius: 40px;
}
body .containers .box .content .banner h4 {
    padding-top: 20px;
    color: #000000;
    font: normal 700 30px/30px "microsoft yahei";
    text-align: center;
}
body .containers .box .content .banner img {
    position: absolute;
    top: 12.5%;
    left: 12.5%;
    width: 75%;
    height: 75%;
    border-radius: 40px;
}
body .containers .box .content .blog {
    width: 790px;
    height: 478px;
    margin-top: 10px;
    background-color: #0d21d660;
    border-radius: 40px;
}
body .containers .box .content .blog h4 {
    padding-top: 20px;
    color: #000000;
    font: normal 700 30px/30px "microsoft yahei";
    text-align: center;
}
body .containers .box .content .blog ul {
    width: 750px;
    height: 380px;
    margin-top: 10px;
    margin-left: 20px;
}
body .containers .box .content .blog ul li {
    overflow: hidden;
    width: 750px;
    height: 50px;
    margin-top: 10px;
    background-color: #d3d3d3;
    border-radius: 10px;
}
body .containers .box .content .blog ul li:hover {
    background-color: #00a4ff;
}
body .containers .box .content .blog ul li a {
    width: 750px;
    height: 50px;
    text-decoration: none;
}

body .containers .box .content .blog ul li a h6 {
    margin-left: 20px;
    color: #cf4c4c;
    font: normal 700 16px/18px "microsoft yahei";
}
body .containers .box .content .blog ul li a p {
    margin-left: 40px;
    color: #444444;
    font: normal 400 12px/20px "microsoft yahei";
}
body .containers .box .editer {
    position: absolute;
    top: 522px;
    width: 400px;
    height: 458px;
}
body .containers .box .editer .start {
    padding-left: 120px;
    font: normal 700 20px/22px "microsoft yahei";
    background-color: #282c34;
    border-radius: 40px 40px 0 0;
}
body .containers .box .editer div {
    height: 434px;
    padding-left: 20px;
    color: #00ff00;
    background-color: #282c34;
}
body .containers .box .editer .end {
    padding-left: 120px;
    font: normal 700 20px/22px "microsoft yahei";
    background-color: #282c34;
    border-radius: 0 0 40px 40px; 
}
